{{#link-to 'projects'}}Projects{{/link-to}} /
{{#link-to 'edit-project' model.id}}Edit{{/link-to}}

<header>
  <h3>
    <small>Project: </small>
    {{#link-to 'project.stories' model.id}}{{model.name}}{{/link-to}}
  </h3>
</header>

{{outlet}}
