{{#if projects.length}}
  <ul class="list-group">
    {{#each projects as |project|}}
      {{project-item project=project}}
    {{/each}}
  </ul>
{{else}}
  <p>Projects haven't crated yet...</p>
{{/if}}

{{#link-to 'new-project' class="btn btn-default"}}Add Project{{/link-to}}
